* {
    margin: 0;
}

h1 {
    text-align: center;
}

header {
    background-color: aquamarine;
}

ul {
    list-style: none;
}


#about-us {
    color: blueviolet;
    border: 2px solid orange;
}


footer {

    background-color: gray;
    text-align: center;
}