:root {


}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}


.grid-pagina {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-areas:    "z-about-us z-about-us z-about-us z-about-us"
                            "z-3 z-shop z-shop z-4"
                            "z-5 z-shop z-shop z-4"
                            "z-5 z-6 z-6 z-7"
                            "z-8 z-8 z-8 z-8"
                            ;
    margin: 0 4rem;

}

.grid-pagina > * {
    border: 2px solid black;
}


#about-us {
    grid-area: z-about-us;
}

#shop {
    grid-area: z-shop;
}

#how-to {
    grid-area: z-7;

}
#reviews {
    grid-area:z-4;

}



/* ### Link Top ### */
.top {
    display: block;
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 80px;
    height: 80px;
    opacity: 0.4;
    transition: all 0.7s linear;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid gray;
    transition: all 0.7s linear;
}

.brackets {
    position: relative;
    top: 20%;
    left: 18%;
    background-color: transparent;
    transform-origin: center;
    height: 50px;
    width: 50px;
    box-shadow: -5px 5px  gray, 5px -5px gray;
    border-radius: 50%;
    rotate: 45deg;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brackets .arrow {
    rotate: -45deg;
}

.top:hover {
    opacity: 1;
}

.top:hover .arrow {
    border-bottom: 16px solid darkcyan;
    transform: translateY(-75%)
}
/* ######### */

