* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;

    --inaltime-nav: 80px
}
/* ### Nav ### */

nav {
    display: flex;
    position: fixed ;
    justify-content: space-around;
    background-color: rgb(12, 197, 234);
    height: var(--inaltime-nav);
    width: 100%;
}

h1.title {
    text-align: left;
    color: white;
    margin: 0 80px;
    font-weight: bold;
    line-height: 80px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0 20px;
    height: 100%;
    align-items: center;
    max-width: 1000px;
}

nav ul li a{
   font-weight: bold;
   color: white;
    text-decoration: none;
}

/* ################## */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

section {
    padding: 20px 0;
}

#about-us {
    margin-top: var(--inaltime-nav);
    color: blueviolet;
    border: 2px solid orange;   

}
h2 {
    width: 100%;
    text-align: center;
}

footer {

    background-color: gray;
    text-align: center;
}