* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

nav {
    display: flex;
    background-color: orange;
    height: 80px;
    width: 100%;
}

h1.title {
    text-align: left;
    color: white;
    padding: 0 80px;
    font-weight: bold;
    line-height: 80px;
}

nav ul {
    list-style: none;
    margin-right: 20px;
}

nav ul li {
    display: inline;
}

#myVideo {
    
    width: 100%;
    margin: 20px;
    
   
}


#about-us {
    color: blueviolet;
    border: 2px solid orange;
}


footer {

    background-color: gray;
    text-align: center;
}