<a class="top" href="#" title="To the Top">
    <div class="brackets">
        <div class="arrow"></div>
    </div>
</a>


<h2>Contact</h2>
<article class="contact-info">
    <a href="tel:0730081605">
        <i class="fa fa-phone" aria-hidden="true"></i>
        Call Us</a>
    <a href="https://wa.me/730081605" target="_blank">
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
        Leave a message</a>
    <a href="mailto:soreterobert@gmail.com">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        Send an e-mail</a>
    <a href="https://goo.gl/maps/DmRvEzVhuAUhQu7w7" target="_blank">
        <i class='fa fa-map-marker fa-bounce'></i>
        Find us Here</a>
</article>

<small class="copyright">
    <a href="LICENCE" download="">Copyright &copy;</a>SnowRiders. All rights reserved.
    Site created on
    <time datetime="2022-10-16">October 16th 2022</time>
</small>